* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #413f32;
}

#container {
  background-color: white;
  height: 900px;
  width: 60%;
  margin: auto;
  margin-top: 30px;
  padding-left: 35px;
  padding-right: 35px;
}

h1 {
  font-family: sans-serif;
  font-weight: 100;
  text-align: center;
  padding-top: 50px;
}

.nav {
  display: inline-block;
  margin: 10px;
}
#navigation {
  padding-top: 50px;
  text-align: center;
}

#navigation p {
  font-weight: bolder;
  font-family: sans-serif;
}

#title {
  margin-top: 40px;
  font-family: sans-serif;
  position: relative;
}

.sm_icon {
  height: 30px;
  width: 30px;
  border: solid red 1px;
  display: inline-block;
}

/* #title > div{
    margin-left:160px
} */

.social_media {
  vertical-align: middle;
  position: absolute;
  right: 0;
}

#title h3,
#title div {
  display: inline-block;
}
