@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  --font: "Montserrat", san-serif;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
  background-color: #000;
  color: #fefefe;
  font-family: var(--font);
}

button {
  width: 250px;
  height: 50px;
  border-radius: 50px;
  font-family: var(--font);
  font-weight: 600;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #00000000;
  border: 1px solid #fefefe;
  color: #fefefe;
}

h2 {
  font-size: 15px;
}
