@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,400;1,400;1,500;1,700&family=Nanum+Pen+Script&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --font-family-heading: "Nanum Pen Script", cursive;
  --font-family-regular: "Fira Sans", san-serif;
  --primary-color: #001219;
  --secondary-color: #edf6f9;
}

.header {
  height: 10vh;
  width: 100vw;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-family: var(--font-family-heading);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-section {
  display: flex;
  height: auto;
}

#hero-image {
  width: 100%;
}

.buy-btn {
  padding: 8px;
  height: 50px;
  width: 120px;
  border-radius: 14px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-size: 15px;
  position: relative;
  bottom: 80px;
  left: 50%;
  cursor: pointer;
  font-family: var(--font-family-regular);
}

#pizza-display {
  display: flex;
  justify-content: space-evenly;
  height: 40vh;
  font-family: var(--font-family-regular);

  /* border: 1px solid black; */
}

.pizza-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pizza-item > img {
  height: 80%;
}

.form-section {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  height: 30vh;
  font-family: var(--font-family-regular);
}

input {
  width: 25vw;
  padding: 5px;
  margin-bottom: 8px;
  border-radius: 8px;
  border: none;
}

.submit-btn {
  padding: 8px;
  height: 35px;
  width: 120px;
  border-radius: 14px;
  border: none;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-weight: 500;
  font-family: var(--font-family-regular);
  font-size: 15px;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
}
